// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;                           // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;                           // based on link tag in html
  line-height: 1.6;

}

/********************************
* # grid-template-rows
* 1st row 80vh height, 2nd row with min-content height, 3th row with 40vw height, the last 3 row with min-content height
* 40vw refer to 40% of the window's width which is 80% each row
*
* # grid-template-columns
* 1st column with 8rem for side bar, 8th columns with (min-content width as min width, and 14rem as max width)
* When screen width is decreasing, either the second track, or the last one with 1 fr width will shrink its width first
* Because they occupy the fractional space, the remaining space.
* Also, using minmax(6rem, 1fr) to replace 1fr for fixed-width column
*
* Therefore, using the fractional space in order to center the 8 columns in the middle of the page.
 */
.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start]
                         minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];         // 1140px / 8 tracks = 14rem for fixed-width column

  //& > * {
  //  padding: 40px;
  //  font-size: 3rem;
  //}
}

