.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;                            // subgrid
  grid-template-columns: repeat(3, 1fr);
  //grid-template-rows: auto auto;            // implicit grid will automatically define
  grid-gap: 6rem;
}